* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    text-align: center;
    height: 50px;
    background-color: orange;
}
img {
    width: 800px;
    height: auto;
    display: none;
    
}
.slider {
    display: flex;
    align-items: center;
}
.slider i {
    font-size: 30px;
    margin: 20px;
    color: black;
}

.menu {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
ul {
    width: 80px;
    height: 20px;
    background: black;
    opacity: 0.6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    list-style: none;
    width: 10px;
    height: 10px;
    background:white;
    border: 1px solid black;
    border-radius: 50%;
    
  }

.green {
    background-color: greenyellow;
}
.active {
    display: block;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    
}
button:focus {
    outline: 0;
    box-shadow: none;
}
