* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    text-align: center;
    height: 50px;
    background-color: orange;
}
img {
    width: 800px;
    height: auto;
    display: none;
    
}
.slider {
    display: flex;
    align-items: center;
}
.slider i {
    font-size: 30px;
    margin: 20px;
    color: black;
}

.menu {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    background-color: rgba(100, 100, 100, .7);
    border-radius: 20px;
    line-height: 9px;
    
}
.menu-icon a {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 5px;
    border-radius: 50%;
    background-color:rgba(0,0,0, .8);
}

.active {
    display: block;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    
}
button:focus {
    outline: 0;
    box-shadow: none;
}